h1 {
	color: red;
	text-align: center;
}

.boldme {
	font-weight: bold;
}

.italisizeme {
	font-style: italic;
}

main {
	display: flex;
	flex-direction: row;
}

.body {
	flex-grow: 2;
}

.sidelineme {
	flex-grow: 1;
}

input {
	display: block;
	margin: 5px;
}

footer {
	padding-top: 50px;
}
@media screen and (max-width: 576px){
	main {
		display: block;
	}
}
